.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 2rem;
    // align-items: center;
    // margin-top: 3rem;
    opacity: 0.6;
    max-width: 60%;
    justify-items: flex-start;
}

.logoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    /* Uniform height */
}

.logoImage {
    height: 100%;
    width: auto;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 1.5rem;
        max-width: fit-content;
    }
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2.5rem 1.25rem;
        justify-items: center;
    }
}

@media (max-width: 480px) {
    .grid {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 2rem;
        align-items: center;
        padding-bottom: 1rem;
        /* scroll-snap-type: x mandatory; */
        -webkit-overflow-scrolling: touch;

        /* Hide scrollbar */
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .grid::-webkit-scrollbar {
        display: none;
    }

    .logoItem {
        flex: 0 0 auto;
        /* scroll-snap-align: start; */
    }
}