.illustration {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.circleWrapper {
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    height: 170%;
    display: flex;
    position: absolute;
    top: -60%;
    right: -120%;
}

.cardsLayer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.card {
    position: absolute;
    // box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    // background: white;
    // padding: 2px;
    /* For the SVG cards which are likely images */
}

/* Positioning cards as per the reference image logic */
.card1 {
    top: 15%;
    right: 15%;
    width: 420px;
    z-index: 5;
}

.card2 {
    top: 30%;
    right: 0%;
    width: 650px;
    z-index: 4;
}

.card3 {
    top: 45%;
    right: 0%;
    width: 400px;
    z-index: 3;
}

.card4 {
    top: 40%;
    right: 30%;
    width: 450px;
    z-index: 2;
}

@media (max-width: 1400px) {
    .illustration {
        right: 0;
        width: 60%;
        height: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media (max-width: 1024px) {
    .illustration {
        display: none;
    }
}