.rightBlob {
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateY(-50%);

    width: 80vw;
    height: 80vw;
    max-width: 900px;
    max-height: 900px;

    background: #6c63ff;
    /* or gradient */
    border-radius: 50%;

    z-index: 0;
    pointer-events: none;
}

@media (max-width: 768px) {
    .rightBlob {
        width: 100vw;
        height: 100vw;
        right: -60%;
    }
}

@media (min-width: 1400px) {
    .rightBlob {
        width: 70vw;
        height: 70vw;
    }
}