.section {
    min-height: 70vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 4rem 6vw; */
    scroll-snap-align: start;
    position: relative;
    // overflow-x: hidden;
    overflow: hidden;
    /* background: white; */
}

.title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.subtitle {
    font-size: 1.2rem;
    color: var(--text-gray);
    margin-bottom: 3rem;
    max-width: 600px;
}

.form {
    display: flex;
    gap: 1rem;
    max-width: 500px;
    width: 100%;
}

.shapeBlue {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
}

.shapeImage {
    display: block;
    width: auto;
    transform: scaleX(-1);
}


@media (max-width: 768px) {
    .form {
        flex-direction: column;
    }

    .title {
        font-size: 2rem;
    }
}